In [2]:
import sys
!{sys.executable} -m pip install --upgrade google-cloud-bigquery google-cloud-bigquery-storage pandas-gbq

Requirement already satisfied: google-cloud-bigquery in c:\users\minhn\anaconda3\lib\site-packages (3.38.0)
Requirement already satisfied: google-cloud-bigquery-storage in c:\users\minhn\anaconda3\lib\site-packages (2.33.1)
Collecting google-cloud-bigquery-storage
  Downloading google_cloud_bigquery_storage-2.34.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas-gbq in c:\users\minhn\anaconda3\lib\site-packages (0.29.2)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in c:\users\minhn\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.25.1)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.40.3)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=24.2.0 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery) (25.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0,>=2.21.0 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery-storage) (1.75.0)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery-storage) (1.26.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.20.2 in c:\users\minhn\anaconda3\lib\site-packages (from google-cloud-bigquery-storage) (6.32.1)
Requirement already satisfied: setuptools in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (75.1.0)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (1.4.3)
Requirement already satisfied: numpy>=1.18.1 in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (1.26.4)
Requirement already satisfied: pandas>=1.1.4 in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (2.2.2)
Requirement already satisfied: pyarrow>=4.0.0 in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (16.1.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (1.9.1)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in c:\users\minhn\anaconda3\lib\site-packages (from pandas-gbq) (1.2.2)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\users\minhn\anaconda3\lib\site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.70.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in c:\users\minhn\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.75.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\minhn\anaconda3\lib\site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\minhn\anaconda3\lib\site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\minhn\anaconda3\lib\site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\minhn\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (2.0.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\minhn\anaconda3\lib\site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.7.1)
Requirement already satisfied: typing-extensions~=4.12 in c:\users\minhn\anaconda3\lib\site-packages (from grpcio<2.0.0,>=1.33.2->google-cloud-bigquery-storage) (4.15.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\minhn\anaconda3\lib\site-packages (from pandas>=1.1.4->pandas-gbq) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\minhn\anaconda3\lib\site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\minhn\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\minhn\anaconda3\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\minhn\anaconda3\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\minhn\anaconda3\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\minhn\anaconda3\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2025.8.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\minhn\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\minhn\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.3.1)
Downloading google_cloud_bigquery_storage-2.34.0-py3-none-any.whl (295 kB)
Installing collected packages: google-cloud-bigquery-storage
  Attempting uninstall: google-cloud-bigquery-storage
    Found existing installation: google-cloud-bigquery-storage 2.33.1
    Uninstalling google-cloud-bigquery-storage-2.33.1:
      Successfully uninstalled google-cloud-bigquery-storage-2.33.1
Successfully installed google-cloud-bigquery-storage-2.34.0

In [4]:
from google.cloud import bigquery

key_path = r"ngoc716-15ba76a1039c.json"


client = bigquery.Client.from_service_account_json(key_path)

In [6]:
query = """
SELECT *
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
lIMIT 10
"""
df = client.query(query).to_dataframe()

In [8]:
# 2Ô∏è‚É£ Ch·ªâ ƒë·ªãnh b·∫£ng mu·ªën xem (v√≠ d·ª•: ng√†y 20170801)
table_id = "bigquery-public-data.google_analytics_sample.ga_sessions"

# 3Ô∏è‚É£ L·∫•y schema c·ªßa b·∫£ng
table = client.get_table(table_id)

# 4Ô∏è‚É£ H√†m ƒë·ªá quy in c·∫•u tr√∫c tr∆∞·ªùng (v√¨ c√≥ nhi·ªÅu field l·ªìng nhau)
def print_schema(fields, indent=0):
    for field in fields:
        print(" " * indent + f"- {field.name} ({field.field_type})")
        if field.fields:  # N·∫øu l√† RECORD (STRUCT)
            print_schema(field.fields, indent + 4)

# 5Ô∏è‚É£ In danh s√°ch c√°c tr∆∞·ªùng
print(f"üìã Schema c·ªßa b·∫£ng: {table_id}\n")
print_schema(table.schema)

üìã Schema c·ªßa b·∫£ng: bigquery-public-data.google_analytics_sample.ga_sessions_*

- visitorId (INTEGER)
- visitNumber (INTEGER)
- visitId (INTEGER)
- visitStartTime (INTEGER)
- date (STRING)
- totals (RECORD)
    - visits (INTEGER)
    - hits (INTEGER)
    - pageviews (INTEGER)
    - timeOnSite (INTEGER)
    - bounces (INTEGER)
    - transactions (INTEGER)
    - transactionRevenue (INTEGER)
    - newVisits (INTEGER)
    - screenviews (INTEGER)
    - uniqueScreenviews (INTEGER)
    - timeOnScreen (INTEGER)
    - totalTransactionRevenue (INTEGER)
    - sessionQualityDim (INTEGER)
- trafficSource (RECORD)
    - referralPath (STRING)
    - campaign (STRING)
    - source (STRING)
    - medium (STRING)
    - keyword (STRING)
    - adContent (STRING)
    - adwordsClickInfo (RECORD)
        - campaignId (INTEGER)
        - adGroupId (INTEGER)
        - creativeId (INTEGER)
        - criteriaId (INTEGER)
        - page (INTEGER)
        - slot (STRING)
        - criteriaParameters (STRING)
        - gclId (STRING)
        - customerId (INTEGER)
        - adNetworkType (STRING)
        - targetingCriteria (RECORD)
            - boomUserlistId (INTEGER)
        - isVideoAd (BOOLEAN)
    - isTrueDirect (BOOLEAN)
    - campaignCode (STRING)
- device (RECORD)
    - browser (STRING)
    - browserVersion (STRING)
    - browserSize (STRING)
    - operatingSystem (STRING)
    - operatingSystemVersion (STRING)
    - isMobile (BOOLEAN)
    - mobileDeviceBranding (STRING)
    - mobileDeviceModel (STRING)
    - mobileInputSelector (STRING)
    - mobileDeviceInfo (STRING)
    - mobileDeviceMarketingName (STRING)
    - flashVersion (STRING)
    - javaEnabled (BOOLEAN)
    - language (STRING)
    - screenColors (STRING)
    - screenResolution (STRING)
    - deviceCategory (STRING)
- geoNetwork (RECORD)
    - continent (STRING)
    - subContinent (STRING)
    - country (STRING)
    - region (STRING)
    - metro (STRING)
    - city (STRING)
    - cityId (STRING)
    - networkDomain (STRING)
    - latitude (STRING)
    - longitude (STRING)
    - networkLocation (STRING)
- customDimensions (RECORD)
    - index (INTEGER)
    - value (STRING)
- hits (RECORD)
    - hitNumber (INTEGER)
    - time (INTEGER)
    - hour (INTEGER)
    - minute (INTEGER)
    - isSecure (BOOLEAN)
    - isInteraction (BOOLEAN)
    - isEntrance (BOOLEAN)
    - isExit (BOOLEAN)
    - referer (STRING)
    - page (RECORD)
        - pagePath (STRING)
        - hostname (STRING)
        - pageTitle (STRING)
        - searchKeyword (STRING)
        - searchCategory (STRING)
        - pagePathLevel1 (STRING)
        - pagePathLevel2 (STRING)
        - pagePathLevel3 (STRING)
        - pagePathLevel4 (STRING)
    - transaction (RECORD)
        - transactionId (STRING)
        - transactionRevenue (INTEGER)
        - transactionTax (INTEGER)
        - transactionShipping (INTEGER)
        - affiliation (STRING)
        - currencyCode (STRING)
        - localTransactionRevenue (INTEGER)
        - localTransactionTax (INTEGER)
        - localTransactionShipping (INTEGER)
        - transactionCoupon (STRING)
    - item (RECORD)
        - transactionId (STRING)
        - productName (STRING)
        - productCategory (STRING)
        - productSku (STRING)
        - itemQuantity (INTEGER)
        - itemRevenue (INTEGER)
        - currencyCode (STRING)
        - localItemRevenue (INTEGER)
    - contentInfo (RECORD)
        - contentDescription (STRING)
    - appInfo (RECORD)
        - name (STRING)
        - version (STRING)
        - id (STRING)
        - installerId (STRING)
        - appInstallerId (STRING)
        - appName (STRING)
        - appVersion (STRING)
        - appId (STRING)
        - screenName (STRING)
        - landingScreenName (STRING)
        - exitScreenName (STRING)
        - screenDepth (STRING)
    - exceptionInfo (RECORD)
        - description (STRING)
        - isFatal (BOOLEAN)
        - exceptions (INTEGER)
        - fatalExceptions (INTEGER)
    - eventInfo (RECORD)
        - eventCategory (STRING)
        - eventAction (STRING)
        - eventLabel (STRING)
        - eventValue (INTEGER)
    - product (RECORD)
        - productSKU (STRING)
        - v2ProductName (STRING)
        - v2ProductCategory (STRING)
        - productVariant (STRING)
        - productBrand (STRING)
        - productRevenue (INTEGER)
        - localProductRevenue (INTEGER)
        - productPrice (INTEGER)
        - localProductPrice (INTEGER)
        - productQuantity (INTEGER)
        - productRefundAmount (INTEGER)
        - localProductRefundAmount (INTEGER)
        - isImpression (BOOLEAN)
        - isClick (BOOLEAN)
        - customDimensions (RECORD)
            - index (INTEGER)
            - value (STRING)
        - customMetrics (RECORD)
            - index (INTEGER)
            - value (INTEGER)
        - productListName (STRING)
        - productListPosition (INTEGER)
        - productCouponCode (STRING)
    - promotion (RECORD)
        - promoId (STRING)
        - promoName (STRING)
        - promoCreative (STRING)
        - promoPosition (STRING)
    - promotionActionInfo (RECORD)
        - promoIsView (BOOLEAN)
        - promoIsClick (BOOLEAN)
    - refund (RECORD)
        - refundAmount (INTEGER)
        - localRefundAmount (INTEGER)
    - eCommerceAction (RECORD)
        - action_type (STRING)
        - step (INTEGER)
        - option (STRING)
    - experiment (RECORD)
        - experimentId (STRING)
        - experimentVariant (STRING)
    - publisher (RECORD)
        - dfpClicks (INTEGER)
        - dfpImpressions (INTEGER)
        - dfpMatchedQueries (INTEGER)
        - dfpMeasurableImpressions (INTEGER)
        - dfpQueries (INTEGER)
        - dfpRevenueCpm (INTEGER)
        - dfpRevenueCpc (INTEGER)
        - dfpViewableImpressions (INTEGER)
        - dfpPagesViewed (INTEGER)
        - adsenseBackfillDfpClicks (INTEGER)
        - adsenseBackfillDfpImpressions (INTEGER)
        - adsenseBackfillDfpMatchedQueries (INTEGER)
        - adsenseBackfillDfpMeasurableImpressions (INTEGER)
        - adsenseBackfillDfpQueries (INTEGER)
        - adsenseBackfillDfpRevenueCpm (INTEGER)
        - adsenseBackfillDfpRevenueCpc (INTEGER)
        - adsenseBackfillDfpViewableImpressions (INTEGER)
        - adsenseBackfillDfpPagesViewed (INTEGER)
        - adxBackfillDfpClicks (INTEGER)
        - adxBackfillDfpImpressions (INTEGER)
        - adxBackfillDfpMatchedQueries (INTEGER)
        - adxBackfillDfpMeasurableImpressions (INTEGER)
        - adxBackfillDfpQueries (INTEGER)
        - adxBackfillDfpRevenueCpm (INTEGER)
        - adxBackfillDfpRevenueCpc (INTEGER)
        - adxBackfillDfpViewableImpressions (INTEGER)
        - adxBackfillDfpPagesViewed (INTEGER)
        - adxClicks (INTEGER)
        - adxImpressions (INTEGER)
        - adxMatchedQueries (INTEGER)
        - adxMeasurableImpressions (INTEGER)
        - adxQueries (INTEGER)
        - adxRevenue (INTEGER)
        - adxViewableImpressions (INTEGER)
        - adxPagesViewed (INTEGER)
        - adsViewed (INTEGER)
        - adsUnitsViewed (INTEGER)
        - adsUnitsMatched (INTEGER)
        - viewableAdsViewed (INTEGER)
        - measurableAdsViewed (INTEGER)
        - adsPagesViewed (INTEGER)
        - adsClicked (INTEGER)
        - adsRevenue (INTEGER)
        - dfpAdGroup (STRING)
        - dfpAdUnits (STRING)
        - dfpNetworkId (STRING)
    - customVariables (RECORD)
        - index (INTEGER)
        - customVarName (STRING)
        - customVarValue (STRING)
    - customDimensions (RECORD)
        - index (INTEGER)
        - value (STRING)
    - customMetrics (RECORD)
        - index (INTEGER)
        - value (INTEGER)
    - type (STRING)
    - social (RECORD)
        - socialInteractionNetwork (STRING)
        - socialInteractionAction (STRING)
        - socialInteractions (INTEGER)
        - socialInteractionTarget (STRING)
        - socialNetwork (STRING)
        - uniqueSocialInteractions (INTEGER)
        - hasSocialSourceReferral (STRING)
        - socialInteractionNetworkAction (STRING)
    - latencyTracking (RECORD)
        - pageLoadSample (INTEGER)
        - pageLoadTime (INTEGER)
        - pageDownloadTime (INTEGER)
        - redirectionTime (INTEGER)
        - speedMetricsSample (INTEGER)
        - domainLookupTime (INTEGER)
        - serverConnectionTime (INTEGER)
        - serverResponseTime (INTEGER)
        - domLatencyMetricsSample (INTEGER)
        - domInteractiveTime (INTEGER)
        - domContentLoadedTime (INTEGER)
        - userTimingValue (INTEGER)
        - userTimingSample (INTEGER)
        - userTimingVariable (STRING)
        - userTimingCategory (STRING)
        - userTimingLabel (STRING)
    - sourcePropertyInfo (RECORD)
        - sourcePropertyDisplayName (STRING)
        - sourcePropertyTrackingId (STRING)
    - contentGroup (RECORD)
        - contentGroup1 (STRING)
        - contentGroup2 (STRING)
        - contentGroup3 (STRING)
        - contentGroup4 (STRING)
        - contentGroup5 (STRING)
        - previousContentGroup1 (STRING)
        - previousContentGroup2 (STRING)
        - previousContentGroup3 (STRING)
        - previousContentGroup4 (STRING)
        - previousContentGroup5 (STRING)
        - contentGroupUniqueViews1 (INTEGER)
        - contentGroupUniqueViews2 (INTEGER)
        - contentGroupUniqueViews3 (INTEGER)
        - contentGroupUniqueViews4 (INTEGER)
        - contentGroupUniqueViews5 (INTEGER)
    - dataSource (STRING)
    - publisher_infos (RECORD)
        - dfpClicks (INTEGER)
        - dfpImpressions (INTEGER)
        - dfpMatchedQueries (INTEGER)
        - dfpMeasurableImpressions (INTEGER)
        - dfpQueries (INTEGER)
        - dfpRevenueCpm (INTEGER)
        - dfpRevenueCpc (INTEGER)
        - dfpViewableImpressions (INTEGER)
        - dfpPagesViewed (INTEGER)
        - adsenseBackfillDfpClicks (INTEGER)
        - adsenseBackfillDfpImpressions (INTEGER)
        - adsenseBackfillDfpMatchedQueries (INTEGER)
        - adsenseBackfillDfpMeasurableImpressions (INTEGER)
        - adsenseBackfillDfpQueries (INTEGER)
        - adsenseBackfillDfpRevenueCpm (INTEGER)
        - adsenseBackfillDfpRevenueCpc (INTEGER)
        - adsenseBackfillDfpViewableImpressions (INTEGER)
        - adsenseBackfillDfpPagesViewed (INTEGER)
        - adxBackfillDfpClicks (INTEGER)
        - adxBackfillDfpImpressions (INTEGER)
        - adxBackfillDfpMatchedQueries (INTEGER)
        - adxBackfillDfpMeasurableImpressions (INTEGER)
        - adxBackfillDfpQueries (INTEGER)
        - adxBackfillDfpRevenueCpm (INTEGER)
        - adxBackfillDfpRevenueCpc (INTEGER)
        - adxBackfillDfpViewableImpressions (INTEGER)
        - adxBackfillDfpPagesViewed (INTEGER)
        - adxClicks (INTEGER)
        - adxImpressions (INTEGER)
        - adxMatchedQueries (INTEGER)
        - adxMeasurableImpressions (INTEGER)
        - adxQueries (INTEGER)
        - adxRevenue (INTEGER)
        - adxViewableImpressions (INTEGER)
        - adxPagesViewed (INTEGER)
        - adsViewed (INTEGER)
        - adsUnitsViewed (INTEGER)
        - adsUnitsMatched (INTEGER)
        - viewableAdsViewed (INTEGER)
        - measurableAdsViewed (INTEGER)
        - adsPagesViewed (INTEGER)
        - adsClicked (INTEGER)
        - adsRevenue (INTEGER)
        - dfpAdGroup (STRING)
        - dfpAdUnits (STRING)
        - dfpNetworkId (STRING)
- fullVisitorId (STRING)
- userId (STRING)
- clientId (STRING)
- channelGrouping (STRING)
- socialEngagementType (STRING)

In [12]:
from google.cloud import bigquery
import pandas as pd

# 2Ô∏è‚É£ Vi·∫øt truy v·∫•n ch·ªçn ch·ªâ c√°c tr∆∞·ªùng c·∫ßn thi·∫øt
query = """
SELECT
  -- üß© Th√¥ng tin ng∆∞·ªùi d√πng & phi√™n
  fullVisitorId,
  visitId,
  visitNumber,
  date,

  -- üíª Thi·∫øt b·ªã
  device.deviceCategory AS deviceCategory,
  device.browser AS browser,
  device.operatingSystem AS operatingSystem,

  -- üåç ƒê·ªãa l√Ω
  geoNetwork.country AS country,
  geoNetwork.city AS city,

  -- üö¶ Ngu·ªìn traffic
  trafficSource.source AS source,
  trafficSource.medium AS medium,
  trafficSource.campaign AS campaign,
  trafficSource.isTrueDirect AS isTrueDirect,

  -- üìà Ch·ªâ s·ªë h√†nh vi
  totals.pageviews AS pageviews,
  totals.hits AS hits,
  totals.timeOnSite AS time_on_site,
  totals.bounces AS bounces,
  totals.newVisits AS newVisits,
  totals.transactions AS transactions,
  totals.transactionRevenue AS transactionRevenue,
  totals.sessionQualityDim AS sessionQualityDim

FROM
  `bigquery-public-data.google_analytics_sample.ga_sessions_20170801`
WHERE
  totals.pageviews IS NOT NULL
"""

# 3Ô∏è‚É£ Th·ª±c thi truy v·∫•n v√† ƒë∆∞a v·ªÅ DataFrame
df = client.query(query).to_dataframe()

# 4Ô∏è‚É£ (Tu·ª≥ ch·ªçn) Lo·∫°i b·ªè c√°c d√≤ng to√†n null ho·∫∑c duplicate
df = df.drop_duplicates()
df = df.dropna(subset=["fullVisitorId", "pageviews"])

# 5Ô∏è‚É£ Xem k·∫øt qu·∫£
print("‚úÖ D·ªØ li·ªáu sau khi ch·ªçn tr∆∞·ªùng c·∫ßn thi·∫øt:")
print(df.info())
print(df.head())

‚úÖ D·ªØ li·ªáu sau khi ch·ªçn tr∆∞·ªùng c·∫ßn thi·∫øt:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullVisitorId       2556 non-null   object
 1   visitId             2556 non-null   Int64
 2   visitNumber         2556 non-null   Int64
 3   date                2556 non-null   object
 4   deviceCategory      2556 non-null   object
 5   browser             2556 non-null   object
 6   operatingSystem     2556 non-null   object
 7   country             2556 non-null   object
 8   city                2556 non-null   object
 9   source              2556 non-null   object
 10  medium              2556 non-null   object
 11  campaign            2556 non-null   object
 12  isTrueDirect        872 non-null    boolean
 13  pageviews           2556 non-null   Int64
 14  hits                2556 non-null   Int64
 15  time_on_site        1310 non-null   Int64
 16  bounces             1238 non-null   Int64
 17  newVisits           1872 non-null   Int64
 18  transactions        43 non-null     Int64
 19  transactionRevenue  43 non-null     Int64
 20  sessionQualityDim   2556 non-null   Int64
dtypes: Int64(10), boolean(1), object(10)
memory usage: 429.5+ KB
None
         fullVisitorId     visitId  visitNumber      date deviceCategory  \
0  3418334011779872055  1501591568            1  20170801        desktop
1  2474397855041322408  1501589647            2  20170801        desktop
2  5870462820713110108  1501616621            1  20170801        desktop
3  9397809171349480379  1501601200            1  20170801        desktop
4  6089902943184578335  1501615525            1  20170801        desktop

   browser operatingSystem         country                           city  \
0   Chrome         Windows          Greece  not available in demo dataset
1   Chrome         Windows           India                         Mumbai
2   Chrome         Windows  United Kingdom  not available in demo dataset
3  Firefox         Windows   United States                         Dallas
4   Chrome         Windows   United States  not available in demo dataset

                 source  ...   campaign isTrueDirect  pageviews  hits  \
0              (direct)  ...  (not set)         <NA>          1     1
1  analytics.google.com  ...  (not set)         <NA>          1     1
2  analytics.google.com  ...  (not set)         <NA>          1     1
3  analytics.google.com  ...  (not set)         <NA>          1     1
4    adwords.google.com  ...  (not set)         <NA>          1     1

   time_on_site  bounces  newVisits  transactions  transactionRevenue  \
0          <NA>        1          1          <NA>                <NA>
1          <NA>        1       <NA>          <NA>                <NA>
2          <NA>        1          1          <NA>                <NA>
3          <NA>        1          1          <NA>                <NA>
4          <NA>        1          1          <NA>                <NA>

   sessionQualityDim
0                  1
1                  1
2                  1
3                  1
4                  1

[5 rows x 21 columns]

In [1]:
import pandas as pd

# ƒê·ªçc file
df = pd.read_csv("GA_CustomerBehavior.csv")

# Xem k√≠ch th∆∞·ªõc v√† th√¥ng tin
print("‚úÖ D·ªØ li·ªáu g·ªëc:", df.shape)
print("\nüìã Th√¥ng tin c√°c c·ªôt:")
print(df.info())

# Xem v√†i d√≤ng ƒë·∫ßu
print("\nüîç 5 d√≤ng ƒë·∫ßu:")
df.head()

‚úÖ D·ªØ li·ªáu g·ªëc: (2556, 21)

üìã Th√¥ng tin c√°c c·ªôt:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullVisitorId       2556 non-null   uint64
 1   visitId             2556 non-null   int64
 2   visitNumber         2556 non-null   int64
 3   date                2556 non-null   int64
 4   deviceCategory      2556 non-null   object
 5   browser             2556 non-null   object
 6   operatingSystem     2556 non-null   object
 7   country             2556 non-null   object
 8   city                2556 non-null   object
 9   source              2556 non-null   object
 10  medium              2556 non-null   object
 11  campaign            2556 non-null   object
 12  isTrueDirect        872 non-null    object
 13  pageviews           2556 non-null   int64
 14  hits                2556 non-null   int64
 15  time_on_site        1310 non-null   float64
 16  bounces             1238 non-null   float64
 17  newVisits           1872 non-null   float64
 18  transactions        43 non-null     float64
 19  transactionRevenue  43 non-null     float64
 20  sessionQualityDim   2556 non-null   int64
dtypes: float64(5), int64(6), object(9), uint64(1)
memory usage: 419.5+ KB
None

üîç 5 d√≤ng ƒë·∫ßu:

,fullVisitorId,visitId,visitNumber,date,deviceCategory,browser,operatingSystem,country,city,source,...,campaign,isTrueDirect,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,3418334011779872055,1501591568,1,20170801,desktop,Chrome,Windows,Greece,not available in demo dataset,(direct),...,(not set),NaN,1,1,NaN,1.0,1.0,NaN,NaN,1
1,2474397855041322408,1501589647,2,20170801,desktop,Chrome,Windows,India,Mumbai,analytics.google.com,...,(not set),NaN,1,1,NaN,1.0,NaN,NaN,NaN,1
2,5870462820713110108,1501616621,1,20170801,desktop,Chrome,Windows,United Kingdom,not available in demo dataset,analytics.google.com,...,(not set),NaN,1,1,NaN,1.0,1.0,NaN,NaN,1
3,9397809171349480379,1501601200,1,20170801,desktop,Firefox,Windows,United States,Dallas,analytics.google.com,...,(not set),NaN,1,1,NaN,1.0,1.0,NaN,NaN,1
4,6089902943184578335,1501615525,1,20170801,desktop,Chrome,Windows,United States,not available in demo dataset,adwords.google.com,...,(not set),NaN,1,1,NaN,1.0,1.0,NaN,NaN,1

In [2]:
# üßÆ C√°c c·ªôt ƒë·ªãnh l∆∞·ª£ng (s·ªë)
num_cols = [
    "pageviews", "hits", "time_on_site", "bounces",
    "newVisits", "transactions", "transactionRevenue", "sessionQualityDim"
]

# üè∑Ô∏è C√°c c·ªôt ƒë·ªãnh t√≠nh (ph√¢n lo·∫°i)
cat_cols = [
    "deviceCategory", "browser", "operatingSystem",
    "country", "city", "source", "medium", "campaign"
]

print("üßÆ C·ªôt ƒë·ªãnh l∆∞·ª£ng:", num_cols)
print("üè∑Ô∏è C·ªôt ƒë·ªãnh t√≠nh:", cat_cols)

üßÆ C·ªôt ƒë·ªãnh l∆∞·ª£ng: ['pageviews', 'hits', 'time_on_site', 'bounces', 'newVisits', 'transactions', 'transactionRevenue', 'sessionQualityDim']
üè∑Ô∏è C·ªôt ƒë·ªãnh t√≠nh: ['deviceCategory', 'browser', 'operatingSystem', 'country', 'city', 'source', 'medium', 'campaign']

### ƒê·ªãnh l∆∞·ª£ng

In [6]:
df_num = df[num_cols] 
print("B·∫£ng d·ªØ li·ªáu ƒë·ªãnh l∆∞·ª£ng:")
df_num.head()

B·∫£ng d·ªØ li·ªáu ƒë·ªãnh l∆∞·ª£ng:

,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,1,1,NaN,1.0,1.0,NaN,NaN,1
1,1,1,NaN,1.0,NaN,NaN,NaN,1
2,1,1,NaN,1.0,1.0,NaN,NaN,1
3,1,1,NaN,1.0,1.0,NaN,NaN,1
4,1,1,NaN,1.0,1.0,NaN,NaN,1

In [8]:
df_num = df[num_cols].copy()
print("Tr∆∞·ªõc x·ª≠ l√Ω:")
df_num.head()

Tr∆∞·ªõc x·ª≠ l√Ω:

,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,1,1,NaN,1.0,1.0,NaN,NaN,1
1,1,1,NaN,1.0,NaN,NaN,NaN,1
2,1,1,NaN,1.0,1.0,NaN,NaN,1
3,1,1,NaN,1.0,1.0,NaN,NaN,1
4,1,1,NaN,1.0,1.0,NaN,NaN,1

In [10]:
print("\nS·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu m·ªói c·ªôt:")
print(df_num.isna().sum())

S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu m·ªói c·ªôt:
pageviews                0
hits                     0
time_on_site          1246
bounces               1318
newVisits              684
transactions          2513
transactionRevenue    2513
sessionQualityDim        0
dtype: int64

In [12]:
# X·ª≠ l√Ω d·ªØ li·ªáu b·ªã thi·∫øu
from sklearn.impute import SimpleImputer
import numpy as np

# C·ªôt d·∫°ng t·ª∑ l·ªá/ƒë·∫øm => ƒëi·ªÅn 0
cols_zero = ["bounces", "newVisits", "transactions", "transactionRevenue"]
df_num[cols_zero] = df_num[cols_zero].fillna(0)

# C√°c c·ªôt c√≤n l·∫°i => ƒëi·ªÅn median
cols_median = [col for col in df_num.columns if col not in cols_zero]
imputer = SimpleImputer(strategy='median')
df_num[cols_median] = imputer.fit_transform(df_num[cols_median])

In [13]:
df_num.head()

,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0
1,1.0,1.0,96.5,1.0,0.0,0.0,0.0,1.0
2,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0
3,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0
4,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0

In [16]:
print("‚úÖ ƒê√£ x·ª≠ l√Ω missing values.")
print(df_num.isna().sum())

‚úÖ ƒê√£ x·ª≠ l√Ω missing values.
pageviews             0
hits                  0
time_on_site          0
bounces               0
newVisits             0
transactions          0
transactionRevenue    0
sessionQualityDim     0
dtype: int64

In [18]:
# Lo·∫°i b·ªè gi√° tr·ªã ngo·∫°i lai
import pandas as pd

# ---T√≠nh IQR cho t·ª´ng c·ªôt ---
Q1 = df_num.quantile(0.25)
Q3 = df_num.quantile(0.75)
IQR = Q3 - Q1

# ---X√°c ƒë·ªãnh ng∆∞·ª°ng d∆∞·ªõi & ng∆∞·ª°ng tr√™n ---
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# --- Gi·ªõi h·∫°n (clip) c√°c gi√° tr·ªã v∆∞·ª£t ngo√†i kho·∫£ng ---
df_num_clipped = df_num.clip(lower=lower_bound, upper=upper_bound, axis=1)

print("ƒê√£ x·ª≠ l√Ω ngo·∫°i lai b·∫±ng ph∆∞∆°ng ph√°p IQR (c·∫Øt ng∆∞·ª°ng).")

ƒê√£ x·ª≠ l√Ω ngo·∫°i lai b·∫±ng ph∆∞∆°ng ph√°p IQR (c·∫Øt ng∆∞·ª°ng).

In [20]:
print(" Ki·ªÉm tra l·∫°i ph√¢n ph·ªëi sau khi x·ª≠ l√Ω:")
print(df_num_clipped.describe())

 Ki·ªÉm tra l·∫°i ph√¢n ph·ªëi sau khi x·ª≠ l√Ω:
         pageviews         hits  time_on_site      bounces    newVisits  \
count  2556.000000  2556.000000   2556.000000  2556.000000  2556.000000
mean      2.953443     3.415102     96.220559     0.484351     0.732394
std       2.649629     3.438847     11.506164     0.499853     0.442797
min       1.000000     1.000000     79.375000     0.000000     0.000000
25%       1.000000     1.000000     91.750000     0.000000     0.000000
50%       2.000000     2.000000     96.500000     0.000000     1.000000
75%       4.000000     5.000000    100.000000     1.000000     1.000000
max       8.500000    11.000000    112.375000     1.000000     1.000000

       transactions  transactionRevenue  sessionQualityDim
count        2556.0              2556.0             2556.0
mean            0.0                 0.0                1.0
std             0.0                 0.0                0.0
min             0.0                 0.0                1.0
25%             0.0                 0.0                1.0
50%             0.0                 0.0                1.0
75%             0.0                 0.0                1.0
max             0.0                 0.0                1.0

In [22]:
df_num_clipped.head()

,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0
1,1.0,1.0,96.5,1.0,0.0,0.0,0.0,1.0
2,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0
3,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0
4,1.0,1.0,96.5,1.0,1.0,0.0,0.0,1.0

In [24]:
# Chu·∫©n h√≥a d·ªØ li·ªáu - scaling
from sklearn.preprocessing import StandardScaler

# üîπ Kh·ªüi t·∫°o scaler
scaler = StandardScaler()

# üîπ Scale c√°c c·ªôt n√†y (chu·∫©n h√≥a z-score)
df_scaled = df_num.copy()
df_scaled[num_cols] = scaler.fit_transform(df_scaled[num_cols])

print(" ƒê√£ scale xong c√°c tr∆∞·ªùng ƒë·ªãnh l∆∞·ª£ng (chu·∫©n h√≥a Z-score).")
df_scaled.head()

 ƒê√£ scale xong c√°c tr∆∞·ªùng ƒë·ªãnh l∆∞·ª£ng (chu·∫©n h√≥a Z-score).

,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608
1,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608
2,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608
3,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608
4,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608

In [26]:
print("\nTh·ªëng k√™ sau chu·∫©n h√≥a:")
print(df_scaled[num_cols].describe().T)

Th·ªëng k√™ sau chu·∫©n h√≥a:
                     count          mean       std       min       25%  \
pageviews           2556.0  0.000000e+00  1.000196 -0.411779 -0.411779
hits                2556.0 -4.447842e-17  1.000196 -0.353582 -0.353582
time_on_site        2556.0 -4.447842e-17  1.000196 -0.484289 -0.277603
bounces             2556.0  0.000000e+00  1.000196 -0.969176 -0.969176
newVisits           2556.0 -2.223921e-17  1.000196 -1.654340 -1.654340
transactions        2556.0 -2.223921e-17  1.000196 -0.128196 -0.128196
transactionRevenue  2556.0 -1.111960e-17  1.000196 -0.049082 -0.049082
sessionQualityDim   2556.0 -2.223921e-17  1.000196 -0.293608 -0.293608

                         50%       75%        max
pageviews          -0.286227 -0.035121  18.923333
hits               -0.268937 -0.015002  25.124583
time_on_site       -0.266785 -0.258813  11.937400
bounces            -0.969176  1.031804   1.031804
newVisits           0.604471  0.604471   0.604471
transactions       -0.128196 -0.128196  14.434843
transactionRevenue -0.049082 -0.049082  44.265298
sessionQualityDim  -0.293608 -0.293608   5.417023

In [28]:
df_scaled.head()

,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim
0,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608
1,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608
2,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608
3,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608
4,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608

### ƒê·ªãnh t√≠nh

In [32]:
df_cat = df[cat_cols]   
print("B·∫£ng d·ªØ li·ªáu ƒë·ªãnh t√≠nh:")
df_cat.head()

B·∫£ng d·ªØ li·ªáu ƒë·ªãnh t√≠nh:

,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,desktop,Chrome,Windows,Greece,not available in demo dataset,(direct),(none),(not set)
1,desktop,Chrome,Windows,India,Mumbai,analytics.google.com,referral,(not set)
2,desktop,Chrome,Windows,United Kingdom,not available in demo dataset,analytics.google.com,referral,(not set)
3,desktop,Firefox,Windows,United States,Dallas,analytics.google.com,referral,(not set)
4,desktop,Chrome,Windows,United States,not available in demo dataset,adwords.google.com,referral,(not set)

In [34]:
# L√†m s·∫°ch d·ªØ li·ªáu ƒë·ªãnh t√≠nh
# L√†m s·∫°ch gi√° tr·ªã text
df_cat_clean = df_cat.copy()

# Chu·∫©n h√≥a chu·ªói
for col in df_cat_clean.columns:
    df_cat_clean[col] = df_cat_clean[col].astype(str).str.lower().str.strip()

# Thay c√°c gi√° tr·ªã kh√¥ng h·ª£p l·ªá b·∫±ng 'unknown'
invalid_vals = ["(not set)", "not available in demo dataset", "(none)", "nan"]
df_cat_clean.replace(invalid_vals, "unknown", inplace=True)

print(" ƒê√£ l√†m s·∫°ch d·ªØ li·ªáu ƒë·ªãnh t√≠nh:")
df_cat_clean.head()

 ƒê√£ l√†m s·∫°ch d·ªØ li·ªáu ƒë·ªãnh t√≠nh:

,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,desktop,chrome,windows,greece,unknown,(direct),unknown,unknown
1,desktop,chrome,windows,india,mumbai,analytics.google.com,referral,unknown
2,desktop,chrome,windows,united kingdom,unknown,analytics.google.com,referral,unknown
3,desktop,firefox,windows,united states,dallas,analytics.google.com,referral,unknown
4,desktop,chrome,windows,united states,unknown,adwords.google.com,referral,unknown

In [36]:
# M√£ h√≥a b·∫±ng LabelEncoder (ph√π h·ª£p cho ph√¢n c·ª•m)
from sklearn.preprocessing import LabelEncoder
df_cat_label = df_cat_clean.copy()
for col in df_cat_label.columns:
    le = LabelEncoder()
    df_cat_label[col] = le.fit_transform(df_cat_label[col])

print("‚úÖ D·ªØ li·ªáu ƒë·ªãnh t√≠nh sau khi Label Encoding (d√πng cho ph√¢n c·ª•m):")
display(df_cat_label.head())

‚úÖ D·ªØ li·ªáu ƒë·ªãnh t√≠nh sau khi Label Encoding (d√πng cho ph√¢n c·ª•m):

,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,0,2,7,30,52,0,4,1
1,0,2,7,36,32,2,3,1
2,0,2,7,89,52,2,3,1
3,0,5,7,90,13,2,3,1
4,0,2,7,90,52,1,3,1

In [38]:
df_cat_label.head()

,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,0,2,7,30,52,0,4,1
1,0,2,7,36,32,2,3,1
2,0,2,7,89,52,2,3,1
3,0,5,7,90,13,2,3,1
4,0,2,7,90,52,1,3,1

In [40]:
df_clean = pd.concat([
    df[["fullVisitorId", "visitId", "visitNumber", "date"]].reset_index(drop=True),
    df_scaled.reset_index(drop=True),
    df_cat_label.reset_index(drop=True)
], axis=1)

In [42]:
df_clean = pd.concat([
    df[["fullVisitorId", "visitId", "visitNumber", "date"]].astype({"fullVisitorId": "string"}).reset_index(drop=True),
    df_scaled.reset_index(drop=True),
    df_cat_label.reset_index(drop=True)
], axis=1)

In [44]:
df_clean.head()

,fullVisitorId,visitId,visitNumber,date,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,3418334011779872055,1501591568,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,30,52,0,4,1
1,2474397855041322408,1501589647,2,20170801,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608,0,2,7,36,32,2,3,1
2,5870462820713110108,1501616621,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,89,52,2,3,1
3,9397809171349480379,1501601200,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,5,7,90,13,2,3,1
4,6089902943184578335,1501615525,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,90,52,1,3,1

In [46]:
# üíæ L∆∞u d·ªØ li·ªáu sau x·ª≠ l√Ω
output_path = "ga_session.csv"
df_clean.to_csv(output_path, index=False, encoding='utf-8-sig')

print("‚úÖ File ƒë√£ l∆∞u th√†nh c√¥ng:", output_path)

‚úÖ File ƒë√£ l∆∞u th√†nh c√¥ng: ga_session.csv

In [48]:
import pandas as pd
df_clean = pd.read_csv("ga_session.csv")
df_clean.head()

,fullVisitorId,visitId,visitNumber,date,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,3418334011779872055,1501591568,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,30,52,0,4,1
1,2474397855041322408,1501589647,2,20170801,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608,0,2,7,36,32,2,3,1
2,5870462820713110108,1501616621,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,89,52,2,3,1
3,9397809171349480379,1501601200,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,5,7,90,13,2,3,1
4,6089902943184578335,1501615525,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,90,52,1,3,1

In [50]:
import pandas as pd
import numpy as np

df = pd.read_csv("ga_session.csv")

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullVisitorId       2556 non-null   uint64
 1   visitId             2556 non-null   int64
 2   visitNumber         2556 non-null   int64
 3   date                2556 non-null   int64
 4   pageviews           2556 non-null   float64
 5   hits                2556 non-null   float64
 6   time_on_site        2556 non-null   float64
 7   bounces             2556 non-null   float64
 8   newVisits           2556 non-null   float64
 9   transactions        2556 non-null   float64
 10  transactionRevenue  2556 non-null   float64
 11  sessionQualityDim   2556 non-null   float64
 12  deviceCategory      2556 non-null   int64
 13  browser             2556 non-null   int64
 14  operatingSystem     2556 non-null   int64
 15  country             2556 non-null   int64
 16  city                2556 non-null   int64
 17  source              2556 non-null   int64
 18  medium              2556 non-null   int64
 19  campaign            2556 non-null   int64
dtypes: float64(8), int64(11), uint64(1)
memory usage: 399.5 KB
None

,fullVisitorId,visitId,visitNumber,date,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign
0,3418334011779872055,1501591568,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,30,52,0,4,1
1,2474397855041322408,1501589647,2,20170801,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608,0,2,7,36,32,2,3,1
2,5870462820713110108,1501616621,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,89,52,2,3,1
3,9397809171349480379,1501601200,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,5,7,90,13,2,3,1
4,6089902943184578335,1501615525,1,20170801,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,90,52,1,3,1

In [52]:
# Lo·∫°i b·ªè c√°c c·ªôt ƒë·ªãnh danh kh√¥ng h·ªØu √≠ch cho m√¥ h√¨nh
df = df.drop(columns=["fullVisitorId", "visitId"])

# Chuy·ªÉn c·ªôt date sang d·∫°ng datetime
df["date"] = pd.to_datetime(df["date"], format="%Y%m%d")

# T·∫°o th√™m c√°c ƒë·∫∑c tr∆∞ng th·ªùi gian
df["day_of_week"] = df["date"].dt.dayofweek   # th·ª© trong tu·∫ßn (0=th·ª©2)
df["month"] = df["date"].dt.month
df["is_weekend"] = df["day_of_week"].isin([5,6]).astype(int)

# X·ª≠ l√Ω gi√° tr·ªã thi·∫øu (n·∫øu c√≥)
df = df.fillna(df.median(numeric_only=True))
df = df.drop(columns=["date"])

df.head()

,visitNumber,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign,day_of_week,month,is_weekend
0,1,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,30,52,0,4,1,1,8,0
1,2,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608,0,2,7,36,32,2,3,1,1,8,0
2,1,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,89,52,2,3,1,1,8,0
3,1,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,5,7,90,13,2,3,1,1,8,0
4,1,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,90,52,1,3,1,1,8,0

In [54]:
# x·ª≠ l√Ω ngo·∫°i lai
import numpy as np

# X√°c ƒë·ªãnh c√°c c·ªôt ƒë·ªãnh l∆∞·ª£ng (numeric)
numeric_cols = df.select_dtypes(include=["int64", "float64"]).columns

# √Åp d·ª•ng winsorization cho t·ª´ng c·ªôt
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Gi·ªõi h·∫°n gi√° tr·ªã trong kho·∫£ng [lower_bound, upper_bound]
    df[col] = np.clip(df[col], lower_bound, upper_bound)

print("‚úÖ ƒê√£ x·ª≠ l√Ω ngo·∫°i lai b·∫±ng ph∆∞∆°ng ph√°p winsorization.")

‚úÖ ƒê√£ x·ª≠ l√Ω ngo·∫°i lai b·∫±ng ph∆∞∆°ng ph√°p winsorization.

In [56]:
df.head()

,visitNumber,pageviews,hits,time_on_site,bounces,newVisits,transactions,transactionRevenue,sessionQualityDim,deviceCategory,browser,operatingSystem,country,city,source,medium,campaign,day_of_week,month,is_weekend
0,1.0,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,30,52,0,4,1,1,8,0
1,2.0,-0.411779,-0.353582,-0.266785,1.031804,-1.654340,-0.128196,-0.049082,-0.293608,0,2,7,36,32,0,4,1,1,8,0
2,1.0,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,89,52,0,4,1,1,8,0
3,1.0,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,90,13,0,4,1,1,8,0
4,1.0,-0.411779,-0.353582,-0.266785,1.031804,0.604471,-0.128196,-0.049082,-0.293608,0,2,7,90,52,0,4,1,1,8,0

In [58]:
df.to_csv("dataset.csv", index=False)
print("‚úÖ ƒê√£ l∆∞u file dataset.csv.")

‚úÖ ƒê√£ l∆∞u file dataset.csv.